.alicament {
  width: 320px;

  background-color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.alicament__wrapper {
  padding: 20px;
}

.alicament__title {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 20px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.alicament__slogan {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.alicament__image {
  width: 280px;
  height: auto;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .alicament {
    position: relative;
    width: 768px;

    background-image: none;
  }

  .alicament__wrapper {
    padding: 0 30px;
  }

  .alicament__title {
    width: 528px;
    margin-bottom: 32px;
    padding-left: 90px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .alicament__slogan {
    margin-bottom: 20px;
    padding-left: 90px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .alicament__image {
    width: 708px;
  }

  .alicament__button {
    margin-left: 90px;
    transform: translateY(-659px);
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .alicament {
    background: none;
  }

  .alicament__wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0;
  }

  .alicament__title {
    margin-top: 100px;
    padding-left: 82px;
}

  .alicament__slogan {
    margin-bottom: 50px;
    padding-left: 82px;
}

  .alicament__image {
    order: 2;
    width: 552px;
    height: auto;
    margin-top: -320px;
    margin-bottom: 55px;
    margin-left: 375px;
    padding-left: 82px;
  }

  .alicament__button {
    margin-left: 82px;
    transform: none;
  }
}
