.btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 11px;

  font: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: @color-brand;
  border: none;
}

.btn:hover {
  background-color: @color-hover;
}

.btn:active {
  background-color: @color-hover;
  color: fade(#ffffff, 50%);
}
