.field-comment {
  margin-bottom: 39px;
  border-top: 3px solid @color-brand;
}

.field-comment__wrapper {
  width: 280px;
  margin: 0 auto;
}

.field-comment__title {
  width: 280px;
  margin: 0 auto;
  margin-top: -17px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-image: linear-gradient(to bottom, transparent 0, transparent 14px, @color-brand 14px, @color-brand 17px, transparent 17px, transparent 100%);
}

.field-comment__title span {
  display: inline-block;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 22px;
  background-color: #ffffff;
}

.field-comment__textarea {
  width: 252px;
  height: 122px;
  padding: 14px;
  padding-top: 12px;
  padding-right: 12px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    box-shadow: 0 0 0 1px #444444;
  }
}

@media (min-width: @tablet-width) {
  .field-comment {
    margin-bottom: 83px;
  }

  .field-comment__wrapper {
    width: 628px;
  }

  .field-comment__title {
    margin-top: -25px;
    margin-bottom: 75px;
    width: 630px;
    font-size: 36px;
    line-height: 36px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 22px, @color-brand 22px, @color-brand 25px, transparent 25px, transparent 100%);
  }

  .field-comment__title span {
    margin-left: -39px;
    padding-left: 39px;
    padding-right: 40px;
  }

  .field-comment__textarea {
    width: 590px;
    height: 148px;
    padding: 16px 19px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .field-comment {
    margin-bottom: 85px;
  }

  .field-comment__title {
    width: 1220px;
  }

  .field-comment__wrapper {
    width: 1218px;
  }

  .field-comment__textarea {
    width: 1182px;
  }
}
