.field-more {
  margin-bottom: 30px;
  border-top: 3px solid @color-brand;
}

.field-more__wrapper {
  width: 280px;
  margin: 0 auto;
}

.field-more__title {
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-top: -17px;
  margin-bottom: 39px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-image: linear-gradient(to bottom, transparent 0, transparent 14px, @color-brand 14px, @color-brand 17px, transparent 17px, transparent 100%);
}

.field-more__title span {
  display: inline-block;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 22px;
  background-color: #ffffff;
}

@import "sideline.less";

@media (min-width: @tablet-width) {
  .field-more__wrapper {
    width: 628px;
  }

  .field-more__title {
    margin-top: -25px;
    margin-bottom: 52px;
    width: 630px;
    font-size: 36px;
    line-height: 36px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 22px, @color-brand 22px, @color-brand 25px, transparent 25px, transparent 100%);
  }

  .field-more__title span {
    margin-left: -39px;
    padding-left: 39px;
    padding-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .field-more__wrapper {
    width: 1220px;
  }

  .field-more__title {
    margin-bottom: 52px;
    width: 1220px;
    font-size: 36px;
    line-height: 36px;
  }
}
