.inner-page {
  min-width: 320px;
  margin: 0 auto;

  &__title {
    width: 280px;
    margin: 0 auto;
    padding: 20px;

    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
  }
}

@media (min-width: @tablet-width) {
  .inner-page {
    width: 768px;

    &__title {
      width: 708px;
      padding: 30px;

      font-size: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .inner-page {
    width: 1220px;

    &__title {
      width: 1220px;
    }
  }
}
