@import "page-header.less";

@media (min-width: @desktop-width) {
  .main-header {
    background-image: linear-gradient(to right, @color-brand 0%, @color-brand 100%);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 50% auto;

    &--inner {
      background-image: none;
      background-color: #ffffff;
    }
  }

  .main-header__wrapper {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 135px;
    padding: 0 110px;
  }
}
