@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Переменные*/
@color-brand: #68b738;
@color-hover: #5eaa2f;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

@import "normalize.less";

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "button.less";
@import "main-header.less";
@import "alicament.less";
@import "categories.less";
@import "advantages.less";
@import "example.less";
@import "main-footer.less";

@import "inner-page.less";
@import "catalog.less";
@import "additional-goods.less";
@import "present.less";


@media (min-width: @tablet-width) {
  body {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 100%;
  }
}
