@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*Переменные*/
@color-brand: #68b738;
@color-hover: #5eaa2f;
@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  body {
    min-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  body {
    min-width: 1300px;
  }
}

@import "normalize.less";
@import "blocks/button.less";
@import "blocks/additional-goods.less";
@import "blocks/advantages.less";
@import "blocks/advantages-list.less";
@import "blocks/alicament.less";
@import "blocks/catalog.less";
@import "blocks/categories.less";
@import "blocks/category.less";
@import "blocks/cat-info.less";
@import "blocks/contacts.less";
@import "blocks/controls.less";
@import "blocks/copyright.less";
@import "blocks/council.less";
@import "blocks/example.less";
@import "blocks/field-comment.less";
@import "blocks/field-contacts.less";
@import "blocks/field-control.less";
@import "blocks/field-info.less";
@import "blocks/field-more.less";
@import "blocks/goods-item.less";
@import "blocks/goods-list.less";
@import "blocks/inner-page.less";
@import "blocks/main-footer.less";
@import "blocks/main-header.less";
@import "blocks/main-nav.less";
@import "blocks/more-product.less";
@import "blocks/nav-list.less";
@import "blocks/page-header.less";
@import "blocks/present.less";
@import "blocks/product.less";
@import "blocks/result-list.less";
@import "blocks/sideline.less";
@import "blocks/slider.less";
@import "blocks/social.less";
